
body{
	-webkit-font-smoothing: antialiased !important;
	color: #000;
}

h1 strong {
	font-weight: 900;
}

h2 {
	line-height: 20px;
	font-size: 32px;
	font-weight: 700;
	margin: 0;
	color: #555;
	font-family: monospace;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h4 {
	font-size: 24px;
	color: #111;
	font-weight: 700;
	font-family: monospace;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

a {
	color: #000080;
}

a:hover, a:focus {
	text-decoration: none;
	color: #222;
}

.dropdown-color{
	background-color: #222222;
}

.form-inline {
	display: inline-block;
}

.navbar-header.col {
	padding: 0 !important;
}	

.panel-heading{
	height:40px;
} 

header {
	background: url(../image/Bg.jpg) no-repeat bottom right;
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100vh;
}
header p {
	color: #111;
	font-size: 20px;
	margin-bottom: 80px;
}

.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 170px;
}
.intro-text h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 45px;
    font-family: monospace;

}
.intro-text p{
	text-transform: uppercase;
	color: #fff;
	font-size: 45px;
    font-family: monospace;
    
}


.navbar {		
	background: #FFFFFF !important;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	font-size: 18px;
}

.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #555;
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
}
.navbar .navbar-brand b {
	
	font-weight: bold;
	font-family: monospace;
	/*color: #eb5844;*/
	color: #000080!important
}
.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
	color: #000080 !important;
}
.navbar ul.nav li.active a, .navbar ul.nav li.active, .navbar ul.nav li.active a:focus {
	color: #eb5844;
	background: transparent !important;
}



.navbar .nav-item i {
	font-size: 17px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.open > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}
.navbar .navbar-form {
	margin-right: 0;
	margin-left: 0;
	border: 0;
}
@media (min-width: 992px){
	.form-inline .input-group {
		width: 250px;
		margin-right: 30px;
	}
}
@media (max-width: 991px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.input-group {
		width: 100%;
	}
}



/*Hover effect on NavBar*/

/* Underline From Center */
.nav-hover {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.nav-hover:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #000080;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.nav-hover:hover:before, .nav-hover:focus:before, .nav-hover:active:before {
	left: 0;
	right: 0;
}

/* General sizing */
ul.dropdown-lr {
	width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

p{
	font-weight: bold;
	background-color: transparent;
	font-family: monospace;
}


.section-title.center {
	padding: 45px 0;
}
.section-title h2 {
	margin-bottom: 30px;
}


hr {
	height: 3px;
	width: 60px;
	text-align: center;
	position: relative;
	background: #111;
	border: 0;
	margin: 10px auto 30px;
}


/* Trainee Section*/

#trainee-section{
	padding: 108px 0;
	background-color: #dde;
}

#trainee-section p {
	font-weight: 700;
	font-family: monospace;
}

/* Sr. SOftware Engineer Section */

#sr-section {
	padding: 100px 0;
	/* background: url(../image/services-bg.jpg); */
	background-color: #eff5f5;
}

.space {
	margin-top: 30px;
}
#sr-section i.fa {
	font-size: 40px;
	font-family: monospace;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #278ac2;
}
#sr-section h2{
		color: #000;
		font-family: monospace;
}
#sr-section h3 {
	font-size: 20px;
	font-weight: 600;
	color: #f6f6f6;
}
#sr-section p {
	color: #111;
	font-family: monospace;
}

/* HR Section */

#hr-section {
	padding: 140px 0;
	background: #e6e6e6;
}
img.img-thumbnail.team-img {
	width: 200px;
	height: 200px;
	border: 0;
	border-radius: 0;
	background-color: #f6f6f6;
}
#hr-section .thumbnail {
	background: transparent;
	border: 0;
}
#hr-section .thumbnail .caption {
	padding: 9px;
	color: #777;
}

/* Footer */
#footer {
	background-color: #222222;
	color: #777;
	padding: 15px 0 10px 0;
	text-align: center;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}
#footer a {
	color: #999;
}
#footer a:hover, a:focus {
	text-decoration: none;
	color: #0dad8d;
}

@media (max-width: 768px) {
	.content {
		padding: 40% 0 0;
	}
}

/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #FFFFFF;
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 26px;
	font-family: monospace;
	color: #000;
	font-weight: 900;
}
#menu a.navbar-brand i.fa {
	color: rgba(255,255,255,0.7);
	margin-right: 3px;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	letter-spacing: 2px;
	font-family: monospace;
}


#menu.navbar-default .navbar-nav > li > a:hover {
	color: #0dad8d;
}
.on {
	background-color: #ffffff !important;
	padding: 15px !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #000080 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #000080;
	border-color: #000080;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

.transparentbar {
	background-repeat:no-repeat;
	cursor:pointer;
	outline:none;
	border:none;
	box-shadow:none; 
	background-image: none;

	background-color: transparent;
	background: transparent;
	border-color: transparent;

}


@media (max-width: 603px) {
	#menu.navbar-default {
		background-color: rgba(0, 0, 0, 0.7);
	}
	label {
		float: none !important
	}
	.hover-bg .hover-text {
		padding: 12% 10%;
	}
}

@media (max-width: 360px) {
	.hover-bg .hover-text {
		padding: 22% 10%;
	}
}

.home-btn{
	color: #FFFFFF;
	padding: 12px 20px;
	border: none;
	background-color: #000080;
	font-size: 16px;
    font-family: monospace;
}

.hr-content h4{
	font-size: 24px;
	color: #111;
	margin-top: 6%;
	font-weight: 700;
	font-family: monospace;
}

.hr-content p{
	font-weight: bold;
	background-color: transparent;
	font-family: monospace;
}

.sr-content h4{
	font-size: 24px;
	color: #111;
	font-weight: 700;
	font-family: monospace;
}

.sr-content p{
	font-weight: bold;
	background-color: transparent;
	font-family: monospace;
}

.st-content h4{
	font-size: 24px;
	color: #111;
	font-weight: 700;
	font-family: monospace;
}

.st-content p{
	font-weight: bold;
	background-color: transparent;
	font-family: monospace;
}

/*  Return to top button  */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000080;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 17px;
    top: 15px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #111;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

